@page "/counter"

@using JobSchedulerClassLibrary

@inject ILogger<JobSchedulerClass> logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        JobSchedulerClass job = new JobSchedulerClass(logger);

        CancellationToken st = new CancellationToken(true);
        job.StopAsync(st);

        //await job.OnOf();
    }


}
